  <div class="drawer-side">
    <label for="my-drawer-2" class="drawer-overlay"></label>
    <!-- <button id="sidebar-close-btn" class="drawer-button">X</button> -->

    <ul class="menu">
      <li>
        <a href="/ai/home"
          ><img
            alt="Mozilla logo"
            class="dark:[filter:invert(1)]"
            id="sidebar-logo"
            src="/img/mozilla-only.c3f76b0f.png"
        /></a>
      </li>
      <li>
        <details closed="">
          <summary>
            <a href="/ai/content/introduction/">Introduction</a>
          </summary>
          <ul class="sub_menu">
            <li>
              <a href="/ai/content/introduction/#why-this-guide"
                >Why this guide?</a
              >
            </li>
            <li>
              <a href="/ai/content/introduction/#why-mozilla"
                >Why Mozilla?</a
              >
            </li>
          </ul>
        </details>
      </li>
      <li>
        <details closed="">
          <summary>
            <a href="/ai/content/ai-basics/">AI Basics</a>
          </summary>
          <ul class="sub_menu">
            <li>
              <a href="/ai/content/ai-basics/#what-is-ai-in-2023"
                >What is AI in 2023?</a
              >
            </li>
            <li>
              <a
                href="/ai/content/ai-basics/#why-are-people-excited-about-llms"
                >Why are people excited about LLMs?</a
              >
            </li>
            <li>
              <a
                href="/ai/content/ai-basics/#why-are-people-concerned-about-llms"
                >Why are people concerned about LLMs?</a
              >
            </li>
            <li>
              <a href="/ai/content/ai-basics/#what-exactly-is-an-llm"
                >What exactly is an LLM?</a
              >
            </li>
            <li>
              <a
                href="/ai/content/ai-basics/#what-are-the-pros-cons-of-using-an-llm"
                >What are the pros &amp; cons of using an LLM?</a
              >
            </li>
            <li>
              <a
                href="/ai/content/ai-basics/#what-new-behaviors-do-llms-unlock"
                >What new behaviors do LLMs unlock?</a
              >
            </li>
            <li>
              <a
                href="/ai/content/ai-basics/#what-are-the-components-of-transformer-based-pre-trained-llms"
                >What are the components of Transformer-based, pre-trained
                LLMs?</a
              >
            </li>
            <li>
              <a
                href="/ai/content/ai-basics/#when-i-send-a-transformer-based-llm-a-prompt-what-happens-internally-in-more-technical-terms"
                >When I send a Transformer-based LLM a “prompt”, what
                happens internally in more technical terms?</a
              >
            </li>
          </ul>
        </details>
      </li>
      <li>
        <details closed="">
          <summary>
            <a href="/ai/content/llms-101/">LLMs 101</a>
          </summary>
          <ul class="sub_menu">
            <li>
              <a
                href="/ai/content/llms-101/#what-do-these-numbers-mean-in-the-names-of-models"
                >What do these numbers mean in the names of models?</a
              >
            </li>
            <li>
              <a href="/ai/content/llms-101/#what-is-a-parameter"
                >What is a parameter?</a
              >
            </li>
            <li>
              <a href="/ai/content/llms-101/#what-does-training-an-llm-mean"
                >What does “training” an LLM mean?</a
              >
            </li>
            <li>
              <a
                href="/ai/content/llms-101/#how-does-a-typical-training-run-work"
                >How does a typical training run work?</a
              >
            </li>
            <li>
              <a href="/ai/content/llms-101/#what-is-backpropagation"
                >What is backpropagation?</a
              >
            </li>
            <li>
              <a
                href="/ai/content/llms-101/#what-does-fine-tuning-an-llm-mean"
                >What does “fine-tuning” an LLM mean?</a
              >
            </li>
            <li>
              <a href="/ai/content/llms-101/#human-in-the-loop-approach"
                >“Human in the loop” approach</a
              >
            </li>
            <li>
              <a href="/ai/content/llms-101/#what-does-inference-mean"
                >What does "inference" mean?</a
              >
            </li>
            <li>
              <a
                href="/ai/content/llms-101/#is-inference-computationally-expensive"
                >Is inference computationally expensive?</a
              >
            </li>
            <li>
              <a href="/ai/content/llms-101/#what-is-a-vector"
                >What is a vector?</a
              >
            </li>
            <li>
              <a href="/ai/content/llms-101/#what-is-beam-search"
                >What is beam search?</a
              >
            </li>
            <li>
              <a href="/ai/content/llms-101/#what-is-sampling"
                >What is sampling?</a
              >
            </li>
            <li>
              <a href="/ai/content/llms-101/#what-is-temperature"
                >What is temperature?</a
              >
            </li>
          </ul>
        </details>
      </li>
      <li class="upcoming">
        <a disabled="">
          <div class="badge">Up Next</div>
          Choosing ML models</a
        >
      </li>
      <li class="upcoming">
        <a disabled="">
          <div class="badge">Up Next</div>
          Fine-tuning</a
        >
      </li>
      <li class="upcoming">
        <a disabled="">
          <div class="badge">Up Next</div>
          LLMs from scratch</a
        >
      </li>
      <li class="upcoming">
        <a disabled="">
          <div class="badge">Up Next</div>
          Images, Audio &amp; Video</a
        >
      </li>
    </ul>
</div>
